
<div class="row">
  <div class="col-xs-12 col-md-4 text-center">
	<h1>Column 1</h1>
  </div>
  <div class="col-xs-12 col-md-4 text-center">
	 <h1>Column 2</h1>
  </div>
  <div class="col-xs-12 col-md-4 text-center">
	<h1>Column 3</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 text-center">
	<h1>Full Width</h1>
  </div>
</div>
