/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .border {
  border: solid #e01616;
 }

 .name {
   color: white;
 }

 .name_color {
   color: #e01616;
 }

 .background_color{
   background-color: #d4d7dd;
 }

 @font-face {
   font-family: "Royal";
   src: font-url("Royal.ttf") format("truetype");
 }

 .royal{
   font-family: "Royal" !important;
 }

  @font-face {
    font-family: "NixieOne";
    src: font-url("NixieOne.ttf") format("truetype");
  }

  .nixie{
    font-family: "NixieOne" !important;
  }

  @font-face {
    font-family: "Alpha";
    src: font-url("Alpha.ttf") format("truetype");
  }

  .alpha{
    font-family: "Alpha" !important;
  }


 @font-face {
   font-family: "Carton_Six";
   src: font-url("Carton_Six.ttf") format("truetype");
 }

 .carton{
   font-family: "Carton_Six" !important;
 }

@font-face {
  font-family: "Pretty";
  src: font-url("Pretty.ttf") format("truetype");
}

.pretty{
  font-family: "Pretty" !important;
}

@font-face {
  font-family: "OpenSans";
  src: font-url("OpenSans-Regular.ttf") format("truetype");
}

.open_sans{
  font-family: "OpenSans" !important;
}

@font-face {
  font-family: "Gift";
  src: font-url("Gift.ttf") format("truetype");
}

.gift {
  font-family: "Gift" !important;
}

.black_border_top{
  border-top: 1px solid black;
}

.padding_top{
  padding-top: 6px;
}

.space-32 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 32px 0 31px;
}

.space-30 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 30px 0 29px;
}

.space-28 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 28px 0 27px;
}

.space-26 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 26px 0 25px;
}

.space-24 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 24px 0 23px;
}

.space-22 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 22px 0 21px;
}

.space-20 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 20px 0 19px;
}

.space-18 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 18px 0 17px;
}

.space-16 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 16px 0 15px;
}

.space-14 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 14px 0 13px;
}

.space-12 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 12px 0 11px;
}

.space-10 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 10px 0 9px;
}

.space-8 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 8px 0 7px;
}

.space-6 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 6px 0 5px;
}

.space-4 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 4px 0 3px;
}

.max_250{
  max-width: 250px;
}

.max_200{
  max-width: 200px;
}

.max_220{
  max-width: 220px;
}

.max_100{
  max-width: 100px;
}

.max_75{
  max-width: 75px;
}

.max_50{
  max-width: 50px;
}

.max_40{
  max-width: 40px;
}

.no_wrap{
  white-space: nowrap;
}

.small{
  font-size: .8em !important;
}

.normal{
  font-size: 1em !important;
}

.big{
  font-size: 1.2em !important;
}

.bigger{
  font-size: 1.4em !important;
  line-height: 1.3em;
}

.biggest{
  font-size: 1.8em !important;
  line-height: 1.3em;
}

.really_big{
  font-size: 2.3em !important;
  line-height: 1.2em;
}

.huge{
  font-size: 3em !important;
  line-height: 1.3em;
}

.huge_name{
  font-size: 4em !important;
  line-height: 1.3em;
}

.white_border{
  border: 4px solid white;
  border-radius: 50%;
}

.silver_border{
  border: 4px solid #a9b9c6;
  border-radius: 50%;
}

.red_border{
  border: 4px solid #D61A18;
  border-radius: 50%;
}

.green_border{
  border: 2px solid #0c3f0f;
  border-radius: 50%;
}

.white_border_top {
  border-top: 1px solid white;
}

.text_padding{
  padding: 15px 8px;
}

.project_image {
  border: 1px solid black;
  text-align: center;
}

.no_margin_top{
  margin-top: 0px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: white !important;
  }
}

.margin_left{
  margin-left: 15px;
}

ul {
    list-style-type: none;
    margin-bottom: 0px;
    padding: 0px;
}

.bold{
  font-weight: bold;
}



// text color

.name_hang{
  color: #a35c90;
}

.text_red {
  color: #d61a18;
}

// fixed image backgrounds

.fixed-bg {
    background-image: image-url("christmas_tree.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.fixed-bg_interest {
    background-image: image-url("road.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.fixed-bg_hire {
    background-image: image-url("wood.png");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fixed-bg_love {
    background-image: image-url("holly.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.no_padding{
  padding: 0 !important;
}

a:link {
    text-decoration: none;
}

a {
  color: #fff;
}

.transparent_background, .transparent_background:hover{
  background-color: transparent !important;
}
